* {
  border: none;
  font-family: "Liga SFMono Nerd Font", sans-serif;
  font-size: 14px;
}

window#waybar {
  background-color: #2f383e;
  color: #d3c6aa;
}

#workspaces,
#window,
#pulseaudio,
#clock,
#battery,
#network,
#bluetooth,
#tray,
#custom-power {
  background-color: #2f383e;
  color: #d3c6aa;
}

#workspaces button {
  padding: 0 5px;
  min-width: 20px;
  color: #d3c6aa;
  border-radius: 0;
}

#workspaces button.focused {
  background-color: #d3c6aa;
  color: #2f383e;
}

#workspaces button.urgent {
  background-color: #e67e80;
  color: #2f383e;
}

#window,
#pulseaudio,
#clock,
#battery,
#network,
#bluetooth,
#tray,
#custom-power {
  padding: 0 10px;
}

/* @define-color background #2f383e;
@define-color foreground #d3c6aa;
@define-color select #374247;
@define-color warn #e67e80;

* {
  font-family: "Liga SFMono Nerd Font";
  font-size: 13px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 0px;
  margin: 0px;
  margin-left: 1px;
  margin-right: 1px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0px;
  color: @foreground;
}

#custom-power,
#tray,
#network,
#clock {
  padding: 0px 6px;
  background: @background;
  margin-top: 6px;
  margin-bottom: 6px;
}

#cpu,
#battery,
#bluetooth,
#pulseaudio {
  border-radius: 0px;
  padding: 5px 6px;
  background: @background;
  margin: 6px 0px;
}

#tray {
  margin-right: 6px;
}

#network {
  margin-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#custom-power {
  margin-left: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-right: 15px;
}

#workspaces {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

#workspaces button {
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 6px;
  background-color: @background;
  color: @foreground;
}

#workspaces button.focused {
  color: @background;
  background-color: @foreground;
}

#workspaces button:hover {
  background-color: @select;
  color: @background;
}

#taskbar {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 15px;
  padding-left: 0px;
  padding-right: 0px;
}

#taskbar button {
  padding-left: 8px;
  padding-right: 8px;
  background-color: @background;
  margin-right: 6px;
}

#taskbar button.active {
  background-color: @foreground;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @warn;
} */
