#window {
  font-family: "Liga SFMono Nerd Font";
}

#input {
  border-radius: 0;
  border: none;
  color: #d3c6aa;
  background-color: #374247;
}

#outer-box {
  color: #d3c6aa;
  background-color: #2f383e;
}

#entry:selected {
  background-color: #d3c6aa;
  outline: none;
}

#text:selected {
  color: #374247;
}