#window {
  font-family: "Liga SFMono Nerd Font";
  background: transparent;
}

#input {
  border-radius: 0px;
  border: 2px solid #374247;
  color: #d3c6aa;
  background-color: #374247;
  margin-bottom: 12px;
}

#outer-box {
  color: #d3c6aa;
  background-color: #2f383e;
  border: 2px solid #374247;
  padding: 12px;
}

#entry:selected {
  background-color: #d3c6aa;
  outline: none;
}

#entry {
  padding: 8px;
}

#text:selected {
  color: #374247;
}
